.hero-container {
    display: block;
    flex-direction: column;
    padding: 20px;
    padding-left: 40px;
    padding-bottom: 0px;
    margin-bottom: 6%;
}

.group-images {
    padding-top: 1%;
    width: 73%;
    padding-left: 14%;
}

.hero-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 0px;
    color: #000000;
    padding-left: 30px;
    margin-bottom: 1%;
}

.hero-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-top: 0px;
    color: #222222;
    width: 33%;
    padding-left: 30px;
}

@media screen and (max-width:868px) {
    .hero-container {
        display: block;
        flex-direction: column;
        padding: 10px;
        padding-left: 20px;
        padding-bottom: 0px;
        margin-bottom: 4%;
    }

    .group-images {
        padding-top: 1%;
        width: 73%;
        padding-left: 8%;
    }

    .hero-heading {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 0px;
        color: #000000;
        padding-left: 15px;
        margin-bottom: 1%;
    }

    .hero-description {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        margin-top: 0px;
        color: #222222;
        width: 49%;
        padding-left: 15px;
    }
}