 .card-container {
     display: flex;
     flex-direction: column;
     /* border: 1px solid green; */
     width: 400px;
 }

 .card-content-container {
     display: flex;
     flex-direction: column;
     /* border: 1px solid green; */
 }

 .card-content-image-container {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     height: 22px;
     padding: 1px;
     margin-bottom: -7px;
     margin-top: 7px;
     position: relative;
 }

 .card-content-desc-container {
     display: flex;
     margin: 0px;
     height: 25px;
 }

 .image {
     height: 400px;
     /* border-top-right-radius: 70px; */
     border-radius: 15px;
     /* margin-bottom: 6px; */
 }

 .star-image {
     height: 18px;
     margin-right: 10px;
     margin-bottom: 4px;
 }

 .rating {
     font-family: Poppins;
     font-style: Light;
     font-size: 18px;
     line-height: 16px;
     line-height: 110%;
     Fill: Solid #222222
 }

 .position {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 110%;
     color: gray;
 }

 .location {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 110%;
 }

 .country {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 110%;
     color: gray;
 }

 .title {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 110%;
 }

 .price {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 170%;
 }

 .span {
     font-weight: 800;
 }

 .button {
     position: absolute;
     left: 16px;
     bottom: 400px;
     /* right: 10px; */
     background-color: white;
     color: black;
     font-family: Poppins;
     border-radius: 5px;
     border: 0px;
 }
 .online-class{
    background-color: green;
    color: white;
 }

 @media screen and (max-width: 868px) {
    .card-container {
        display: flex;
        flex-direction: column;
        /* border: 1px solid green; */
        width: 300px;
    }
   
    .card-content-container {
        display: flex;
        flex-direction: column;
        /* border: 1px solid green; */
    }
   
    .card-content-image-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 18px;
        padding: 1px;
        margin-bottom: -4px;
        margin-top: 4px;
        position: relative;
    }
   
    .card-content-desc-container {
        display: flex;
        margin: 0px;
        height: 18px;
    }
   
    .image {
        height: 300px;
        /* border-top-right-radius: 70px; */
        border-radius: 10px;
        /* margin-bottom: 6px; */
    }
   
    .star-image {
        height: 13px;
        margin-right: 5px;
        margin-bottom: 3px;
    }
   
    .rating {
        font-family: Poppins;
        font-style: Light;
        font-size: 12px;
        line-height: 12px;
        line-height: 110%;
        Fill: Solid #222222
    }
   
    .position {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 110%;
        color: gray;
    }
   
    .location {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 110%;
    }
   
    .country {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 110%;
        color: gray;
    }
   
    .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 110%;
    }
   
    .price {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 170%;
    }
   
    .span {
        font-weight: 500;
    }
   
    .button {
        position: absolute;
        left: 10px;
        bottom: 299px;
        /* right: 10px; */
        background-color: white;
        color: black;
        font-family: Poppins;
        border-radius: 5px;
        border: 0px;
        font-size: 10px;
    }
    .online-class{
       background-color: green;
       color: white;
    }    
 }
 .hidden{
    visibility: hidden;
 }