
.navbar-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 8vh;
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
    box-shadow: 0px 2px 10px 1px gray;
    padding: 4px;
    padding-left: 60px;
}
.navbar-logo{
    height: 50px;
}

@media screen and (max-width:868px) {
    .navbar-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        height: 8vh;
        border-top-left-radius: 25px;
        border-top-right-radius:25px;
        box-shadow: 0px 2px 10px 1px gray;
        padding: 4px;
        padding-left: 60px;
    }
    .navbar-logo{
        height: 35px;
    }
}