.cards-container {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    padding-left: 60px;
    height: 80vh;
    overflow-x: scroll;
    /* overflow-y: none; */
    gap: 1%;
}

@media screen and (max-width: 868px) {
    .cards-container{
        padding-left: 30px;
    }
}